*{
  margin:0;
  padding: 0;
}

html,body{
  height: 100%;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;

}

h1{
  text-align: center;
  margin-bottom: 1em;
}

.contenedor{
  height: 700px;
  width: 700px;
  background-color: blue;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
}

.card{
  background-color: seashell;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

